footer {
    height: var(--sidebar_height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__text {
    margin: 10px 20px;
    font-size: 25px;
    font-weight: var(--font-Weight);
}