/* reset*/
@import url(./reset.css);

/* variables(변수) */
@import url(./variables.css);

/* header */
@import url(./components/header.css);
/* main */
@import url(./components/main.css);
/* footer */
@import url(./components/footer.css);

/* copyView */
@import url(./components/copyView.css);


* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

button {
    background-color: transparent;
}

@media screen and (max-width:550px) {
    .copy-bar__text {
        font-size: 5px;
    }

    .header_item>button {
        font-size: 10px;
    }
}

@media screen and (min-width:550px) and (max-width:610px) {
    .copy-bar__text {
        font-size: 10px;
    }

    .header_item>button {
        font-size: 12px;
    }
}


@media screen and (min-width:610px) and (max-width:760px) {
    .copy-bar__text {
        font-size: 12px;
    }

    .header_item>button {
        font-size: 15px;
    }
}


@media screen and (min-width:760px) and (max-width: 860px) {

    .header_item,
    .header_item>button {
        font-size: 15px;
    }
}



@media screen and (max-width: 1015px) {
    .main__color-item__text {
        display: none;
    }
}