footer {
    height: var(--sidebar_height);
    overflow: hidden;
    display: flex;
    align-items: center;

}

.slide_left {
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 140%;
}

@keyframes slide_left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(20%);
    }
}


.footer__text {
    margin: 10px 20px;
    font-size: 25px;
    width: 300px;
    font-weight: var(--font-Weight);
    animation: slide_left 22s linear infinite;
}