.header {
    display: flex;
    height: var(--sidebar_height);
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
}

.header>button {
    transition: 0.2s linear;
    font-size: 20px;
    font-weight: var(--font-Weight);
}

.header>button:hover {
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px gray;
    transform: scale(1.1);
}

.header__copy-container {
    font-size: 18px;
    font-weight: var(--font-Weight);
}

.header__copy-bar {
    min-width: 100px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}